
.App {
    overflow-y: scroll;
}

/* 5. Текст (START) */

.text::after {
    font-size: 40px;
    top: -105px;
    left: 50%;
    transform: translateX(-50%);
}

.text::before {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}


/* 5. Текст (END) */
